.container{
    width:100vw;
    height:100vh;
    display:grid;

    justify-content: center;
    padding: 50px;


}
.card{

        height:800px;
    width:500px;
    margin: auto;



background-color: transparent;
perspective: 1000px;
transform-style: preserve-3d;

}
.card-outer{



    

}
.card-outer,.card-inner{
width: 100%;
height: 100%;
position: absolute;
transition: transform 1.6s;
border-radius: 20px;
backface-visibility: hidden;

}
.card-inner{transform: rotateY(180deg);}
    

.card-outer h1{
    font-family: cursive,sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 100px;;
    text-align: center;
    font-size: 35px;
}
.card-outer img,.card-inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: center;
    position: relative;
    border-radius: 20px;
    


}

.card:hover .card-outer{
  transform: rotateY(180deg);
}



.card:hover .card-inner{
    transform: rotateY(360deg);
  }